*{
    margin: 0;
    padding: 0;
}
.header
{
    height: 100vh;
}
.navbar-style
{
    box-shadow: 0 5px 10px #efefef;
    text-transform: uppercase;
}
.logo
{
    height: 50px;
    padding: 2px 10px;
    
}
.background-image
{
    opacity: 0.1;
}
.icon-bar
{
    background: darkorange;
}
li a
{
    color: #333;
}
.big-text
{
    font-size: 52px;
    margin: 50px 0;
    color: blue;
}
.image.jpg
{
    height: 50px;
    padding: 2px 10px;
}
a.btn
{
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}
a.btn-first
{
    background-color: cornflowerblue;
    color: #fff;
    
}
a.btn-second
{
    background-color: cornflowerblue;
    
    color: #fff;
}
a.btn:hover
{
    background: darkblue;
    border: none;
    color: #fff;
    box-shadow: 5px 5px 10px #999;
    transition: 0.3s;
}

.banner-info, .banner-image
{
    margin: 30px 0;
}
.social-icons 
{
    width: 300px;
    text-align: center;
    opacity: .9;
    
}
.social-icons img
{
    height: 20px;
    margin: 0 14px;
}
